/* Global customization */

:root {
  --code-max-height: 60rem;
}

/* Light mode theming */
:root,
:root[color-theme="light"] {
  --header-background: #ffffff;
  --header-font-color: #000000;

  --body-background: #ffffff;
  --body-font-color: #000000;

  --mark-color: #ffab00;

  --button-background: #ffffff;
  --button-border-color: #000000;

  --link-color: #777777;
  --link-color-visited: #aaaaaa;

  --code-background: #f5f6f8;
  --code-accent-color: #e3e7eb;
  --code-accent-color-lite: #eff1f3;
  --code-font-color: #5f5f5f;

  --code-copy-background: #f5f6f8;
  --code-copy-font-color: #6b7784;
  --code-copy-border-color: #adb4bc;
  --code-copy-success-color: #00c853;

  --accent-color: #ffffff;
  --accent-color-lite: #ffffff;

  --control-icons: #b2bac1;

  --footer-background: #000000;
  --footer-font-color: #ffffff;
  --footer-link-color: #777777;
  --footer-link-color-visited: #aaaaaa;
}
.gdoc-button:hover[color-theme="light"] {
  color: #000000 !important;
}
@media (prefers-color-scheme: light) {
  :root {
    --header-background: #ffffff;
    --header-font-color: #000000;

    --body-background: #ffffff;
    --body-font-color: #000000;

    --mark-color: #ffab00;

    --button-background: #ffffff;
    --button-border-color: #000000;

    --link-color: #777777;
    --link-color-visited: #aaaaaa;

    --code-background: #f5f6f8;
    --code-accent-color: #e3e7eb;
    --code-accent-color-lite: #eff1f3;
    --code-font-color: #5f5f5f;

    --code-copy-background: #f5f6f8;
    --code-copy-font-color: #6b7784;
    --code-copy-border-color: #adb4bc;
    --code-copy-success-color: #00c853;

    --accent-color: #ffffff;
    --accent-color-lite: #ffffff;

    --control-icons: #b2bac1;

    --footer-background: #000000;
    --footer-font-color: #ffffff;
    --footer-link-color: #777777;
    --footer-link-color-visited: #aaaaaa;
  }
  .gdoc-button:hover {
    color: #000000 !important;
  }
}

/* Dark mode theming */
:root[color-theme="dark"] {
  --header-background: #000000;
  --header-font-color: #ffffff;

  --body-background: #000000;
  --body-font-color: #ffffff;

  --mark-color: #ffab00;

  --button-background: #62cb97;
  --button-border-color: #4ec58a;

  --link-color: #aaaaaa;
  --link-color-visited: #777777;

  --code-background: #2f353a;
  --code-accent-color: #262b2f;
  --code-accent-color-lite: #2b3035;
  --code-font-color: #b9b9b9;

  --code-copy-background: #343a40;
  --code-copy-font-color: #6b7784;
  --code-copy-border-color: #6b7784;
  --code-copy-success-color: #37905c;

  --accent-color: #000000;
  --accent-color-lite: #000000;

  --control-icons: #b2bac1;

  --footer-background: #ffffff;
  --footer-font-color: #000000;
  --footer-link-color: #aaaaaa;
  --footer-link-color-visited: #777777;
}
.gdoc-button:hover[color-theme="dark"] {
  color: #ffffff !important;
}
@media (prefers-color-scheme: dark) {
  :root {
    --header-background: #000000;
    --header-font-color: #ffffff;

    --body-background: #000000;
    --body-font-color: #ffffff;

    --mark-color: #ffab00;

    --button-background: #000000;
    --button-border-color: #ffffff;

    --link-color: #aaaaaa;
    --link-color-visited: #777777;

    --code-background: #2f353a;
    --code-accent-color: #262b2f;
    --code-accent-color-lite: #2b3035;
    --code-font-color: #b9b9b9;

    --code-copy-background: #343a40;
    --code-copy-font-color: #6b7784;
    --code-copy-border-color: #6b7784;
    --code-copy-success-color: #37905c;

    --accent-color: #000000;
    --accent-color-lite: #000000;

    --control-icons: #b2bac1;

    --footer-background: #ffffff;
    --footer-font-color: #000000;
    --footer-link-color: #aaaaaa;
    --footer-link-color-visited: #777777;
  }
  .gdoc-button:hover {
    color: #ffffff !important;
  }
}